<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_hospital_root"
              name="Hospital"
              sequence="10"/>
    <menuitem id="menu_hospital_operations"
              name="Operations"
              parent="menu_hospital_root"
              sequence="10"/>
    <menuitem id="menu_appointment_booking"
              name="Book an Appointment"
              parent="menu_hospital_root"
              sequence="12"/>
    <menuitem id="menu_hospital_configuration"
              name="Configuration"
              parent="menu_hospital_root"
              sequence="10"/>

    <menuitem id="menu_hospital_lab"
              name="Lab"
              parent="menu_hospital_root"
              sequence="40"/>
</odoo>
